dbuser='dbuser'
dbhost='db-host'
dbpasswd='dbpassword'
dbname='glpi'
puppetrole='pupperole'
# if domainremove == true
# the query against GLPI will be made
# for the short hostname, ie. the domain part will
# be removed from the query
domainremove=True
